* {
    box-sizing: border-box;
}
.header {
    padding: 15px;
    text-align: center;
    background: lightblue;
    color: white;
}
/* Style the top navigation bar */
.bar {
    display: flex;
    background-color:darkslategray;
    border-right: 4px solid black;
    margin: auto;
}
h3{
    border-right: 2px solid black;
    padding: 10px;
}
.flexible {
    display: flex;
    height: 300px;
    font: 30px bold;

}
.column1{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px;
    background-color: gainsboro;
}
.column2{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px;
    background-color: gray;
}
.column3{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px;
    background-color: gainsboro;
}
.footer {
    padding: 20px;
    text-align: center;
    background-color:darkslategray;
;
}
#validation{
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
}