h1{
	color : purple;
	font-weight: bold;
}
 h2,h3,h4,h5{
 	color: green;
 	font-weight: bold;
}
p,li {
	color: black;
	font-variant: serafin;
}
body{
	background-color: silver ;
}
dt{
	color: white;
}
 a:link{
	text-decoration:none;
}
a:visited{
	background-color:red;
}
a:hover{
	background-color: lightgreen;
}

a:active{
	background-color: hotpink;
}
strong {
	color: red;
/*	font-family : "Arial Black";
/**/	font-size: 1em;
*/	font-style: italic;
}
